<%- include('./partials/header', {title: '绘空事 | 关于'})%> 

<div class="container">
    <div class="page">
        <div class="self-info">
            <%- content %> 
        </div>
    </div>
</div>

<%- include('./partials/footer')%> 
