<%- include('./partials/header', {title: '绘空事 | 友人帐'})%> 

<div class="container">
    <div class="page">
        <%- include('./partials/quote', {content: '友人 链接'})%> 

        <div class="friend-content">
            <h1>没有朋友</h1>
        </div>
    </div>
</div>

<%- include('./partials/footer')%> 